* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding-top: 10px;
    padding-bottom: 120px;
}

/* Header Styling */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 200px;
}

.title {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

/* Hero Styling */

.hero {
    display: flex;
    justify-content: space-between;
    margin: auto 200px;
}

.hero .left-items {
    max-width: 480px;
    gap: 10px;
}

.heading {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.description {
    font-size: 18px;
    color: #e5e7eb;
}

.left-items button {
    text-decoration: none;
    background-color: #3882f6;
    color: white;
    font-size: 15px;
    padding: 5px 30px;
    border-radius: 7px;
    border: 0;
    margin-top: 10px;
    cursor: pointer;
}

/* Information Section Styling */

.information {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin: 50px auto;
}

.info-img {
    width: 180px;
    height: auto;
    border-radius: 20px;
    border: 5px solid #3882f6;
}

.image-box p {
    color: #1f2937;
}

.image-box {
    width: min-content;
    height: min-content;
    text-align: center;
}

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 50px;
}

/* Quote Section Styling */

.quote-section {
    background-color: #e5e7eb;
    padding: 100px 350px;
    margin-bottom: 120px;
}

blockquote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

footer {
    text-align: right;
    font-size: 25px;
    font-weight: bold;
}

 /* Call to action box Styling */

.callbox {
    background-color: #3882f6;
    color: white;
    width: 1000px;
    height: 150px;
    margin: auto;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
    padding: 80px;
}

.callbox button {
    text-decoration: none;
    background-color: #3882f6;
    color: white;
    font-size: 15px;
    padding: 5px 30px;
    border-radius: 7px;
    border: 3px solid white;
    cursor: pointer;    
}

/* Footer Styling */

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 30px;
}